{% extends 'base.html' %}

{% block content %}
<div class="container">
  <h2>Корзина</h2>
  <div class="row">
    <div class="col-md-8">
      {% for cart_item in cart_items %}
      <div class="card mb-3">
        <div class="row no-gutters">
          <div class="col-md-4">
            {% if cart_item.product.image %}
            <img src="{{ cart_item.product.image.url }}" class="card-img" alt="{{ cart_item.product.name }}">
            {% else %}
            <img src="path/to/default_image.jpg" class="card-img" alt="Default Image">
            {% endif %}
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">{{ cart_item.product.name }}</h5>
              <p class="card-text">{{ cart_item.product.description }}</p>
              <p class="card-text">Цена: {{ cart_item.product.price }} руб</p>
              <p class="card-text">Количество: {{ cart_item.quantity }}</p>
              <form action="{% url 'remove_from_cart' cart_item.id %}" method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Удалить из корзины</button>
              </form>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Итого к оплате:</h5>
          <p class="card-text">Общая стоимость: {{ total_price }} руб</p>
          <a href="#" class="btn btn-primary">Оформить заказ</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
