<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Каталог</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'catalog.css' %}">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="logo-site" href="{% url 'home' %}">
            <img src="{% static 'images/logo.png' %}" alt="Logo">
        </a>
        <a class="navbar-brand" href="{% url 'home' %}">DigitalWorld</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'information' %}">О нас</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'catalog' %}">Каталог</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'where_to_find_us' %}">Где нас найти?</a>
                </li>
            </ul>
            <div class="ml-auto">
                {% if user.is_authenticated %}
                    <span class="navbar-text">Привет, {{ user.username }}!</span>
                    <a href="{% url 'logout' %}" class="btn btn-outline-danger ml-2">Выйти</a>
                    <a href="{% url 'cart' %}" class="btn btn-outline-success ml-2">Корзина</a>
                {% else %}
                    <a href="{% url 'login' %}" class="btn btn-outline-success my-2 my-sm-0">Вход</a>
                    <a href="{% url 'register' %}" class="btn btn-outline-success my-2 my-sm-0 ml-2">Регистрация</a>
                {% endif %}
            </div>
        </div>
    </nav>

    <div class="container mt-4">
        <div class="row">
            <div class="col-md-3">
                <h4>Поиск по цене</h4>
                <form method="get" action="{% url 'catalog' %}">
                    <div class="form-group">
                        <label for="min_price">Минимальная цена</label>
                        <input type="number" class="form-control" id="min_price" name="min_price" placeholder="0">
                    </div>
                    <div class="form-group">
                        <label for="max_price">Максимальная цена</label>
                        <input type="number" class="form-control" id="max_price" name="max_price" placeholder="1000000">
                    </div>
                    <button type="submit" class="btn btn-primary">Поиск</button>
                </form>
            </div>
            <div class="col-md-9">
                <div class="row">
                    {% for product in products %}
                    <div class="col-md-4 mb-3">
                        <div class="card h-100">
                            <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.name }}">
                            <div class="card-body d-flex flex-column">
                                <h5 class="card-title">{{ product.name }}</h5>
                                <p class="card-text"><strong>{{ product.price }} руб.</strong></p>
                                <a href="{% url 'product_detail' product.id %}" class="btn btn-primary mt-auto">Подробнее</a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
